/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

/* Keyframes for waving hand */
@keyframes wave {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(20deg); }
  75% { transform: rotate(-10deg); }
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.about-text {
  flex: 1;
  margin-right: 1em;
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
}

body.dark-mode .about-text {
  color: #e0e0e0; /* Brighter shade for dark mode */
}

.about-text h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: #4C4351;
}

.about-text p {
  font-size: 1.25em; /* Adjust to match WhatIDo */
  color: var(--text-color);
  margin-bottom: 1.5em;
}

.social-icons {
  display: flex;
  gap: 1em;
  margin-bottom: 1.5em;
}

.social-icons a {
  color: #6a5acd; /* Purple color */
  transition: transform 0.3s, color 0.3s;
  font-size: 2em; /* Make icons larger */
}

.social-icons a:hover {
  color: #483d8b; /* Shade of purple on hover */
  transform: scale(1.1); /* Scale up on hover */
}

body.dark-mode .social-icons a {
  color: var(--button-bg); /* Blue color for social links in dark mode */
}

body.dark-mode .social-icons a:hover {
  color: var(--button-hover-bg); /* Lighter blue on hover */
}

.about-buttons {
  display: flex;
  gap: 1em;
}

.contact-button, .resume-button {
  padding: 0.75em 1.5em; /* Slightly increase button size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em; /* Slightly increase font size */
  transition: background-color 0.3s, transform 0.3s; /* Add transform for hover effect */
}

.contact-button {
  background-color: var(--button-bg);
  color: var(--button-text);
}

.contact-button:hover {
  background-color: var(--button-hover-bg);
  transform: translateY(-2px); /* Slightly lift button on hover */
}

.resume-button {
  background-color: var(--button-bg); /* Change to purple */
  color: var(--button-text);
}

.resume-button:hover {
  background-color: var(--button-hover-bg);
  transform: translateY(-2px); /* Slightly lift button on hover */
}

.about-illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-illustration img {
  max-width: 100%;
  height: auto;
}

/* Add waving hand animation */
.wave-hand {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}
