footer {
  background-color: var(--header-bg);
  color: var(--header-text);
  text-align: center;
  padding: 1em;
  width: 100%;
  position: relative; /* Ensure it's positioned relatively within the flex container */
}

footer p {
  margin: 0;
}
